extends layout

block content
  h1= title

  form(method='POST' action='')
    div.form-group
      label(for='nickname') Nickname:
      input#nickname.form-control(type='text' name='nickname' required='true' value=(undefined===user ? '' : user.nickname))
      label(for='password') Password:
      input#password.form-control(type='password' name='password' required='true' value=(undefined===user ? '' : user.password)) 
    div.form-group
    button.btn.btn-primary(type='submit') Submit
  if errors
    ul
      for error in errors
        li!= error.msg