extends layout

block content
  h1= title

  form(method='POST' action='')
    label(for='image') Image:
    input#email.form-control(type='file' name='image' required='true')
    label(for='description') Description:
    input#description.form-control(type='text' name='description' required='true' value=(undefined===poste ? '' : poste.description))
    label(for='hide') Access:
    select(name='hide').form-control
      option(value=false) Public
      option(value=true) Private
    button.btn.btn-primary(type='submit') Submit
  if errors
    ul
      for error in errors
        li!= error.msg